

<h1>Log In <%=@username %></h1>
<h2>Enter Username and Password</h2>

<%=form_tag action: "index" do %>
  <p>Username</p>
  <%=text_field_tag "username" %>
  <br/>
  <p>Password</p>
  <%=text_field_tag "password" %>
  <br/>
  <%=submit_tag "Enter" %>
<% end %>