
<div class="page">
  <% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>
<h2>Input Capacity, Start-time, and End-time for each sessions</h2>

<%= form_for([@occasion, @event, @event_detail]) do |f| %>

  <p>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </p>
  <p>
    <%= hidden_field_tag 'location_name', @event.location.name %>
  </p>
  <p>
    <%= f.label :date_started %>
    <%= f.select(:date_started, [['Select One', ""],], {}, id: 'selectDate') %>
  </p>
  <p>
    <%= f.label :start_time %>
    <%= f.select(:start_time, [['Select One', ""],], {}, id: 'selectStartTime') %>
  </p>
  <p>
    <%= f.label :end_time %>
    <%= f.select(:end_time, [['Select One', ""],], {}, id: 'selectEndTime') %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Go Back", occasion_event_path(@occasion, @event) %>
</div>