<h1>Additional information needed</h1>
<%=form_for @teacher do |f| %>
  <div class="field">
    <%=f.label :name, "Teacher Name" %>
    <%=f.text_field(:name )%>
  </div>
  <div class="field">
    <%=f.label :school, "School Name" %>
    <%=f.text_field(:school )%>
  </div>
  <div class="field">
    <%=f.label :chaperone_count, "Expected number of Chaperones" %>
    <%=f.text_field(:chaperone_count )%>
  </div>
  <div class="field">
    <%=f.label :student_count, "Expected number of Students" %>
    <%=f.text_field(:student_count )%>
  </div>
  <%=f.fields_for :user do |u| %>

    <div class="field">
    <%=u.label :email %>
    <%=u.email_field :email %>
    </div>
    <div class="field">
    <%=u.label :password %>
    <%=u.password_field :password %>
    </div>
    <div class="field">
    <%=u.label :password_confirmation %>
    <%=u.password_field :password_confirmation %>
    </div>
  <%end %>
  <div class="actions"><%=submit_tag "Confirm", class: "button" %></div>
<%end %>

<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>