<h1>Additional information needed</h1>
<%=form_for @teacher do |f| %>
  <div class="field">
    <%=f.label :school, "School Name" %>
    <%=f.text_field(:school )%>
  </div>
  <div class="field">
    <%=f.label :chaperone_count, "Expected number of Chaperones" %>
    <%=f.text_field(:chaperone_count )%>
  </div>
  <div class="field">
    <%=f.label :student_count, "Expected number of Students" %>
    <%=f.text_field(:student_count )%>
  </div>
  <div class="actions"><%=submit_tag "Confirm" %></div>
  <%=fields_for :users do |user| %>
    <%=user.label :email %>
    <%=user.email_field :email %>
    <%=user.label :password %>
    <%=user.password_field :password %>
    <%=user.label :password_confirmation %>
    <%=user.password_field :password_confirmation %>
  <%end %>
<%end %>

<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>