<div class="bottom-bar"><h2>Class Registration Details</h2></div>
<%@students.each do |s| %>
  <div class="student-name-black"><h3><%=s.name %></h3></div>
  <%if s.participant.event_details.count > 0 %>
    <div id="class-schedule" class="increase-bottom-margin">
      <table class="table increase-bottom-margin">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <% s.participant.event_details.each do |e| %>
          <tr>
            <th scope="row"><%= Event.find(e.event_id).name %></th>
            <td><%= Event.find(e.event_id).description %></td>
            <td><%= Event.find(e.event_id).location.name %></td>
            <td><%= e.start_time.strftime("%F %H:%M %p") %></td>
            <td><%= e.end_time.strftime("%F %H:%M %p") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <%else %>
    <div class="student-bar increase-bottom-margin">This student has not registered for events yet.</div>
  <%end %>
<%end %>
