<h1>Teacher main view</h1>
<p>Still need to build table to display students in database</p>

<%= form_tag("../students", method: "post") do %>
  <div class="field">
    <%=label_tag(:name, "Student Name") %>
    <%=text_field_tag(:name) %>
  </div>
  <div class="field">
    <%=label_tag(:email, "Student email") %>
    <%=text_field_tag(:email) %>
  </div>
  <div class="actions"><%=submit_tag "Submit Student" %></div>
<% end %>