<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>


<div class="container">
  <div class="row">
      <div class="col-sm">
      <h2>My Students</h2>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Registered For Events</th>
        </tr>
        </thead>
        <tbody>
          <%# @students.each do |s| %>
<!--            <tr class="see-student" >-->
<!--              <th scope="row"><%#=s.participant.event_details.count > 0 ? (link_to s.name, {controller: "students", action: "schedule", id: s.id}) :s.name %></th>-->
<!--              <td><%#=s.user.email %></td>-->
<!--              <td><%#= s.participant.event_details.count > 0 ? "Yes":"No" %></td>-->
<!--            </tr>-->
          <%# end %>
        </tbody>
      </table>
    </div>


    <div class="col-sm-3">
      <div>
        <div class="card border-dark mb-3" style="max-width: 22rem;">
          <div class="card-header">Actions</div>
          <div class="card-body text-dark">
            <div class="indent-bellow">
            <button class="btn button-small" title="Add or Remove students">
              <span class="fa fa-user-plus"> </span><%=link_to " New Students", new_student_path %>
            </button>
            </div>
            <div class="indent-bellow">
            <button class="btn button-small" title="Register for events">
              <span class="fa-edit"></span><%=link_to " Register", controller: "registrations", action: "index", part_id: @teacher.id %>
            </button>
            </div>
            <div class="indent-bellow">
            <button class="btn button-small" title="View My Student's Registrations">
              <span class="fas fa-eye"></span><%=link_to " Class Registrations", controller: "teachers", action: "class_registrations", id: @teacher.id%>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <% if @teacher.sessions.count > 0 %>
        <h2>Events Registered For</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">Location</th>
              <th scope="col">Modify</th>
            </tr>
          </thead>
          <tbody>
            <%@teacher.sessions.each do |s| %>
          <tr>
            <th scope="row"><%=s.activity.name %></th>
            <td><%=s.start_time.strftime("%l:%M %p") %> -  <%=s.end_time.strftime("%l:%M %p")%></td>
<!--            <td><%#=Event.find(s.event_id).location.name %></td>-->
            <td><%=button_to("Drop",  {method: :post, controller: "registrations", action: :drop, part_id: @teacher.id, id:s.id}, class: "button", title: "Unregister for event", data: {confirm: "Are you sure?"}) %></td>
          </tr>
            <%end %>
          </tbody>
        </table>
      <%end %>
    </div>
  </div>
</div>


