<h1>Teacher main view</h1>
<p>Still need to build table to display students in database</p>

<%= form_for(@teacher) do |f| %>
  <div class="field">
    <%=f.label(:name, "Student Name") %>
    <%=f.text_field(:name) %>
  </div>
  <div class="field">
    <%=f.label(:email, "Student email") %>
    <%=f.text_field(:email) %>
  </div>
  <div class="actions"><%=submit_tag "Submit Student" %></div>
<% end %>