<h1>Teachers main page</h1>
<h2>Students</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
<% @teacher.students.each do |s| %>
    <tr>
      <td><%=s.name %></td>
      <td><%=s.user.email %></td>
    </tr>
  <% end %>
</table>

<h2>Registration Details</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

  </thead>
  <% @teacher.participant.event_details.each do |s| %>
    <tr>
      <td><%=Event.find(s.event_id).name %></td>
      <td><%=Event.find(s.event_id).description %></td>
      <td><%=Event.find(s.event_id).location %></td>
      <td><%=s.start_time %></td>
      <td><%=s.end_time %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add Students", new_student_path %>
<%=link_to "Register for events", controller: "registrations", action: "index", part_id: @teacher.participant.id %>