<% content_for(:title, "Create Occasion") %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <div class="alert alert-danger">
      <%= e %>
    </div>
  <% end %>
<% end %>


<div class="container">
  <div class="card border-dark">
    <div class="card-header event-header">
      <div class="row">
        <div class="col-lg-6">
          <h1>Activity Information</h1>
        </div>
        <div class="col-lg-4">
          <h1>Activity Sessions</h1>
        </div>
      </div>
    </div>
    <div class="card-body bengal-body">
      <%= form_tag({controller: "activities", action: @action, event_id: @event}, {id: "activity-form"}) do %>
        <%= hidden_field_tag "max_team_tag_1", value = 4 %>
        <%= hidden_field_tag "activity_id", @edit ? value=@activity.id : value=nil %>
        <div class="row">
          <div class="col-lg-4 border-right">
            <div class="form-group">
              <%= label_tag "Activity Name", nil, class: "control-label" %>
              <%= text_field_tag "name_New_1", @edit ? value = @activity.name : value = nil, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag "Activity Description", nil, class: "control-label" %>
              <%= text_field_tag "description_1", @edit ? value = @activity.description : value = nil, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= check_box_tag "ismakeahead_1", true, @edit ? checked = @activity.ismakeahead : checked = false %>
              <%= label_tag "Is make ahead", nil, class: "control-label" %>
            </div>
            <div class="form-group">
              <%= check_box_tag "iscompetetion_1", true, @edit ? checked = @activity.iscompetetion : checked = false, class: "competetion" %>
              <%= label_tag "Is competition", nil, class: "control-label" %>
            </div>
            <div class="form-group">
              <%= label_tag "Choose Location of Activity", nil, class: "control-label" %>
              <select class="form-control locationselect" id="locationselect" name="location_select_1">
              </select>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-2">
                <%= label_tag "Start Time" %>
              </div>
              <div class="col-lg-2">
                <%= label_tag "End Time" %>
              </div>
              <div class="col-lg-3">
                <%= label_tag "Room" %>
              </div>
              <div class="col-lg-2">
                <%= label_tag "Capacity" %>
              </div>
              <div class="col-lg-3 form-group">
                <%= check_box_tag "same_room", value = true, false, title: "Use the same room for all sessions" %>
                <%= label_tag "Use Same Room", nil, class: "control-label" %>
              </div>
            </div>

              <% for s in (@sessions.empty? ? 0..0 : @sessions) %>
                <div class="row">
                  <div class="col-lg-2">
                    <%= text_field_tag "start_time_New_1", @edit ? value = s.start_time : value = nil, class: "control-label form-control start_time" %>
                  </div>
                  <div class="col-lg-2">
                    <%= text_field_tag "end_time_1", @edit ? value = s.end_time : value = nil, class: "control-label form-control end_time" %>
                  </div>
                  <div class="col-lg-3">
                    <select class="form-control roomselect" name="room_select_1" title="Choose Room that Session will be hosted at"></select>
                  </div>
                  <div class="col-lg-2">
                    <%= text_field_tag "capacity_1", @edit ? value = s.capacity : value = nil, class: "control-label form-control" %>
                  </div>
                  <div class="col-lg-3">
                    <button class="button-small glyphicon glyphicon-plus new-session" title="Add New Session" type="button"></button>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1">
            <%= submit_tag "Confirm", class: "btn button-small" %>
          </div>
          <div class="col-lg-1">
            <button class="btn button-small glyphicon glyphicon-plus new-activity" title="Add New Activity" type="button"></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

