<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>
<div class="container">
  <div class="card border-dark">
    <div class="card-header dark-header "><h1> Activity Information</h1></div>
    <div class="card-body text-dark bengal-body">
      <%#= form_for([@occasion, @event], :html => {:class => "form-horizontal center"}) do |f| %>
        <%= form_for([@activity], :html => {:class => "form-horizontal center"}) do |f| %>


    <div class="form-group">
          <%= f.label :name, "Activity Name:", class: "col-md-4 control-label" %>
          <div class="col-xs-2">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <!--  <p>-->
        <%#= f.label "Start Time" %>
        <%#= select_tag :start_time, {include_hidden: false}, multiple: true,  id: 'selectTimeSlots' %>
        <!--  </p>-->
        <div class="form-group">
          <%= f.label :description, "Activity Description:", class: "col-md-4 control-label" %>
          <div class="col-xs-2">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

<!--        <div class="form-group">-->
          <%#= f.label :location_id, class: "col-md-4 control-label" %>
<!--          <div class="col-xs-2">-->
            <%#= f.collection_select :location_id, Location.order(:name), :id, :name, {:prompt => "Select a Location"}, class: "location-select form-control" %>
<!--          </div>-->
<!--        </div>-->
        <!--  <p>-->
        <%#= f.label :location_id %>
        <%#= f.collection_select :location_id, Location.order(:name), :id, :name, {:prompt => "Select a Location"}, class: "location-select" %>
        <!--  </p>-->
        <div class="form-group">
          <%= f.label :ismakeahead, "Is this a make ahead Event?", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= f.check_box :ismakeahead, class: "form-check-input" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :iscompetetion, "Is this a Competetion?", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= f.check_box :iscompetetion, class: "form-check-input" %>
          </div>

        </div>
        <%= f.hidden_field :event_id, value: params[:event_id] %>
        <div class="col-md-5 control-label">
          <%= f.submit "Confirm", class: "btn btn-default btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Default indeterminate -->
