<div id="reports_page" class="container">
  <%# @events.each do |event| %>
  <h1>Bengal Stem Day</h1>
  <h2>View Reports</h2>
  <div class="row">
    <div class="col-sm-2.1">
      <p>Date: <input type="text" id="reports_start_date"></p>
    </div>
    <div class="col-sm-2.1">
      <button class="button-small solid-element left-indent-more" onclick="loadEvent()">Load</button>
    </div>
  </div>
  <div id="activity-notice">
  </div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Activity</th>
      <th scope="col">Activity Type:</th>
      <th scope="col">Total Participants:</th>
      <th scope="col">Sponsored by:</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="body">
    <% @activities.each do |activity| %>
      <tr class="event-collapse solid-element">
        <td><%= activity.name %></td>
        <td><%= activity.iscompetetion ? "Competetion" : "Non-Competition" %></td>
        <td><%= activity.total_participants %></td><!--Total participants-->
        <td><%= activity.user.first_name + " " + activity.user.last_name %></td><!--Sponsored by-->
        <td><span activity_id="<%=activity.id %>" class="glyphicon glyphicon-tasks" title="See All Reports"></span></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>