<div class="container">
  <div class="row">

    <div class="col-sm-8">
      <h1>Upcoming Events</h1>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Starts</th>
        </tr>
        </thead>
        <tbody>
        <% if @activities == nil %>
          <p> There are no events at the moment.</p>
        <% else %>
          <% @activities.each do |e| %>
            <% e.sessions.each do |ev| %>
              <tr>
                <th scope="row"><%= e.name %></th>
                <td><%= e.description %></td>
                <td><%= ev.start_time.strftime("%l:%M %p") %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4 border-left">
      <div class="login_block">
        <h2>Please Sign In</h2>
        <%= form_for(:user, :url => session_path(:user), :html => {id: "sign_in"}) do |f| %>
          <!--          <div class="field_container"><%#= f.text_field :email, placeholder: "Email address", class: "field form-control" %></div>-->
          <p><%= f.label :login %><br/>
            <%= f.text_field :login %></p>
          <div class="field_container"><%= f.password_field :password, placeholder: "Password", class: "field form-control" %></div>
          <div class="checkbox_container"<%= f.check_box :remember_me, class: "check_box" %> <%= f.label "Remember me" %>
          </div>
          <div class="button_container"><%= f.submit 'Sign in', class: "button full_button" %></div>
          <a> <%= link_to "Forgot your password?", new_password_path(:user) %></a>
        <% end %>
        <div class="Register">
          <div class="button_container"><%= button_to "Register as Teacher", new_registration_path(:user), method: :get, class: "button full_button" %></div>
          <!--          <div class="button_container"><%#= button_to "Register as Sponsor", new_sponsor_path, method: :get, class: "button full_button" %></div>-->
        </div>
        </div>
  </div>
</div>






