<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <div class="alert alert-danger">
      <%=e %>
    </div>
  <% end %>
<% end %>

<%if @controller != "Student" %>
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign Up</div>
        </div>
        <div style="padding-top:30px" class="panel-body">
          <%= form_tag("/homeroutes/create") do %>
            <%=hidden_field_tag "role", @controller %>
            <%if @controller == "Teacher" %>
              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <%= text_field_tag "school_name", nil, placeholder: "School", class: "form-control" %>
              </div>

              <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= text_field_tag "chaperone_count", nil, placeholder: "Number of chaperones", class: "form-control" %>
              </div>
            <%end %>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= text_field_tag "first_name", nil, placeholder: "First Name", class: "form-control" %>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= text_field_tag "last_name", nil, placeholder: "Last Name", class: "form-control" %>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= text_field_tag 'user_name', nil,  placeholder: "User Name", class: "form-control" %>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <%= email_field_tag 'email', nil, placeholder: "Email", class: "form-control" %>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= password_field_tag 'password', nil, placeholder: "Password", class: "form-control" %>
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= password_field_tag 'password_confirmation', nil, placeholder: "Confirm Password", class: "form-control" %>
            </div>

            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <%= submit_tag "Create Account", class: "button-small btn-success" %>
                <%= link_to "Cancel", root_path, class: "button-small primary-button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%else %>
  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-11 col-md-offset-1 col-sm-8 col-sm-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Enter Student Name and (Email or Username)</div>
        </div>

        <div style="padding-top:30px" id="student-box" class="panel-body">
          <%= form_tag("/homeroutes/create", {id: "student-form"}) do %>
            <%=hidden_field_tag "role", @controller %>
            <%=hidden_field_tag "next_user", User.last.id%>
            <%for student in (@students.empty? ? 0..0 : @students) do %>
              <div class="row" >
                <div class="col-lg-3">
                  <div class="input-group bottom-indent">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <%=text_field_tag  @students.empty? ? "first_1" : "first_" + student.id.to_s, @students.empty? ? nil : student.first_name, placeholder: @students.empty? ? "Student's First Name" : nil%>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="input-group bottom-indent">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <%=text_field_tag @students.empty? ? "last_1" : "last_" + student.id.to_s, @students.empty? ? nil : student.last_name, placeholder: @students.empty? ? "Student's Last Name" : nil %>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="input-group bottom-indent">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <%=text_field_tag @students.empty? ? "email_1" : "email_" + student.id.to_s, @students.empty? ? nil : student.email, placeholder: @students.empty? ? "Student Email" : nil%>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="input-group bottom-indent">
                    <button class="button-small solid-element glyphicon glyphicon-minus" type="button" title="Remove Student"></button>
                    <%if (@students.last == student || @students.empty?) %>
                      <button class="button-small solid-element left-indent glyphicon glyphicon-plus" type="button" onclick="addNewStudent()" title="Add New Student"></button>
                    <%end %>
                  </div>
                </div>
              </div>
            <%end %>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <%=submit_tag "Submit Changes", class: "button-small primary-button", id: "Submit-Students"%>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
  </div>


<%end %>





