<h1>Upcoming Events</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Capacity</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  </thead>
  <tbody>
  <% unless @events == nil %>
    <% @events.each do |e| %>
        <% e.event_details.each do |ev| %>
          <tr>
            <td><%= e.name %></td>
            <td><%= e.description %></td>
            <td><%= e.location.name %></td>
            <td><%= ev.capacity %></td>
            <td><%= ev.start_time %></td>
            <td><%= ev.end_time %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>



