<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Upcoming Events</h1>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Capacity</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
        </tr>
        </thead>
        <tbody>
        <% unless @events == nil %>
          <% @events.each do |e| %>
            <% e.event_details.each do |ev| %>
              <tr>
                <th scope="row"><%= e.name %></th>
                <td><%= e.description %></td>
                <td><%= e.location.name %></td>
                <td><%= ev.capacity %></td>
                <td><%= ev.start_time.strftime("%F %H:%M %p") %></td>
                <td><%= ev.end_time.strftime("%F %H:%M %p") %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <div class="login_block">
        <h2>Please Sign In</h2>
        <%= form_for(:user, :url => session_path(:user), :html => {id: "sign_in"}) do |f| %>
          <div class="field_container"><%= f.text_field :email, placeholder: "Email address", class: "field form-control" %></div>
          <div class="field_container"><%= f.password_field :password, placeholder: "Password", class: "field form-control" %></div>
          <div class="checkbox_container"<%= f.check_box :remember_me, class: "check_box" %> <%= f.label "Remember me" %>
          </div>
          <div class="button_container"><%= f.submit 'Sign in', class: "button full_button" %></div>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        <% end %>
        <div class="sign_up">
          <div class="button_container"><%= button_to "Sign Up as Teacher", new_teacher_path, method: :get, class: "button full_button" %></div>
          <div class="button_container"><%= button_to "Sign Up as Sponsor", new_sponsor_path, method: :get, class: "button full_button" %></div>
        </div>
        </div>
  </div>
</div>


