<div class="container col-xl">
  <div class="row">
    <div class="col-sm-8">
      <h1>Upcoming Events</h1>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Capacity</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        <% unless @events == nil %>
          <% @events.each do |e| %>
            <% e.event_details.each do |ev| %>
              <tr>
                <td><%= e.name %></td>
                <td><%= e.description %></td>
                <td><%= e.location.name %></td>
                <td><%= ev.capacity %></td>
                <td><%= ev.start_time %></td>
                <td><%= ev.end_time %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <div class="login_block">
        <h2>Please Sign In</h2>
        <%=form_for(:user, :url => session_path(:user)) do |f| %>
          <div class="field_container"><%=f.text_field :email, placeholder: "Email address", class: "field form-control" %></div>
          <div class="field_container"><%=f.password_field :password , placeholder: "Password", class: "field form-control"%></div>
          <div class="checkbox_container"<%=f.check_box :remember_me , class: "check_box"%> <%=f.label "Remember me" %></div>
          <div class="button_container"><%=f.submit 'Sign in' , class: "button full_button"%></div>
          <%=link_to "Forgot your password?", new_password_path(:user) %>
        <%end %>
        <div class="sign_up">
          <div class="button_container"><%=button_to "Sign Up as Teacher", new_teacher_path, method: :get, class: "button full_button" %></div>
          <div class="button_container"><%=button_to "Sign Up as Sponsor", new_sponsor_path, method: :get, class: "button full_button" %></div>
        </div>
    </div>
  </div>
</div>


