<div class="container">
  <% if (@role == "Teacher" || @admin) && @show %>
    <%= render :partial => "teachers/show" %>
    <%= render :partial => "registrations/registrations", locals: {role: @role} %>
  <% elsif @role == "Student" || (@admin && !@show)%>
    <div class="row">
      <%= render :partial => "registrations/registrations", locals: {role: @role} %>
      <%= render :partial => "students/show" %>
    </div>
    <%= render :partial => "students/teams" %>
  <% elsif @role == "Coordinator" || @role == "Admin"%>
    <%= render :partial => "coordinators/show" %>
    <%= @role %>
  <% end %>
</div>
