<% if signed_in? %>
  <%= render_breadcrumbs %>
  <%if controller.controller_name == "teams" %>
    <div class="team_name"><h1>Team <%=Team.find(params[:id]).name %></h1></div>
  <%end %>

  <p class="sign-in-links">
    <%= link_to current_user.email, edit_user_registration_path %> <span style="color:rgb(167, 169, 172)">|</span>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <p class="sign-in-links">
    <%= link_to "Sign Up as Teacher", new_teacher_path %> <span style="color:rgb(167, 169, 172)">|</span>
    <%= link_to "Sign Up as Sponsor", new_sponsor_path %> <span style="color:rgb(167, 169, 172)">|</span>
    <%= link_to "Log In", user_session_path, class: "loginlink" %>
  </p>
<% end %>