<% if signed_in? %>
  <% if controller.controller_name == "teams" %>
    <% unless params[:id] == nil %>
      <div class="team_name"><h1 class="bold">Team <%= Team.find(params[:id]).team_name %></h1></div>
    <% end %>
    <%else %>
    <div class="team_name"><h1><%=current_user.first_name + " " + current_user.last_name %></h1></div>
  <% end %>
  <% unless (controller.action_name == "pdfshow") || (controller.action_name == "teamschedulepdf" || controller.action_name == "print_schedule") || (controller.action_name == "print_class_registrations") %>
    <div class="dropdown menu">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-cog"></span>
        <%= current_user.first_name %></a>
      <div class="dropdown-menu menu-container dropdown-menu-right">
        <%= link_to "Account Settings", edit_user_registration_path(current_user), class: "dropdown-item" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% end %>
<% end %>