<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% if controller.controller_name == "sessions" %>
    <%= javascript_include_tag 'application', :sessions, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "registrations" %>
    <%= javascript_include_tag 'application', :registrations, 'data-turbolinks-track': 'reload' %>
    <%elsif controller.controller_name == "homeroutes" %>
    <%= javascript_include_tag 'application', :homeroutes, 'data-turbolinks-track': 'reload' %>
<% elsif controller.controller_name == "teams" %>
    <%= javascript_include_tag 'application', :teams, 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>

<body>
<div>
  <div class="header" id="header">
    <%= link_to image_tag("LogoWide-ScienceEngineeringWhite.png", height: '110', width: '550', :alt => "University Logo", class: "float-left"), root_path %>
    <%= render 'user_info' %>
  </div>
  <div class="navigation">
   <span> <%= render_breadcrumbs :separator => ' / ' %> </span>
  </div>
  <div class="content">
    <p class="alert alert-success"><%= notice %></p>
    <p class="alert alert-danger"><%= alert %></p>
    <%= yield %>
  </div>
</div>
</body>
</html>
