<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% if controller.controller_name == "event_details" %>
    <%= javascript_include_tag 'application', :event_details, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "registrations" %>
    <%= javascript_include_tag 'application', :registrations, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "students" %>
    <%= javascript_include_tag 'application', :students, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "teachers" %>
    <%= javascript_include_tag 'application', :teachers, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "sponsors" %>
    <%= javascript_include_tag 'application', :sponsors, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "teams" %>
    <%= javascript_include_tag 'application', :teams, 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% end %>

</head>

<body>
<div class="header" id="header">
  <%= image_tag("Logo1.png", height: '110', width: '210', :alt => "University Logo", class: "float-left") %>
  <%= render 'user_info' %>
</div>
<div class="navigation">
  <%= render_breadcrumbs :separator => ' / ' %>
</div>
<div class="content">
  <p class="alert alert-success"><%= notice %></p>
  <p class="alert alert-danger"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
