<!DOCTYPE html>
<html lang="en">
<head>
  <% content_for :css do %>
    <style>
      <%cache(Setting.first) do%>
      .primary-color {
        background-color: <%=Setting.first.primary_color %>;
      }

      .secondary-color {
        background-color: <%=Setting.first.secondary_color %>;
      }

      .additional-color{
        background-color: <%=Setting.first.additional_color %>;
      }
      .solid-element {
        background-color: <%=Setting.first.primary_color %>;
      }

      .solid-element:hover {
        background-color: <%=Setting.first.secondary_color %>;
      }

      .primary-button{
        background-color: <%=Setting.first.primary_color %>;
        font-family: <%=Setting.first.font %>;
      }

      .primary-button a{
        color: white;
      }

      .primary-font::before{
        font-family: <%=Setting.first.font %>;
      }

      .primary-font a:hover{
        color: <%=Setting.first.additional_color %>;
      }

      .h1-header{
        color: <%=Setting.first.additional_color %>;
        margin-bottom: 10px;
      }

      .link{
        color: <%=Setting.first.additional_color %>;
        margin-bottom: 10px;
      }


      <%end %>

    </style>
  <% end %>
  <%= yield :css %>
  <title><%=(Setting.first.site_name) %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <% if controller.controller_name == "sessions" %>
    <%= javascript_include_tag 'application', :sessions, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "registrations" %>
    <%= javascript_include_tag 'application', :registrations, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "homeroutes" %>
    <%= javascript_include_tag 'application', :homeroutes, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "events" || controller.controller_name == "locations"%>
    <%= javascript_include_tag 'application', :events, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "teams" %>
    <%= javascript_include_tag 'application', :teams, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "activities" %>
    <%= javascript_include_tag 'application', :activities, 'data-turbolinks-track': 'reload' %>
  <% elsif controller.controller_name == "setups" %>
    <%= javascript_include_tag 'application', :setups, 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>


<body class="primary-font">
<div>
  <div class="header primary-color" id="header">
    <%cache(Setting.first.logo) do %>
    <%= link_to image_tag(!Setting.first.logo.attached? ? "LogoWide-ScienceEngineeringWhite.png" : Setting.first.logo, height: '110', width: '550', :alt => "University Logo", class: "float-left"), root_path %>
    <%end %>
    <%= render 'user_info' %>
  </div>
  <div class="navigation secondary-color">
    <span> <%= render_breadcrumbs :separator => ' / ' %> </span>
  </div>
  <div class="content">
    <p class="alert alert-success"><%= notice %></p>
    <p class="alert alert-danger"><%= alert %></p>
    <%= yield %>
  </div>
</div>
</body>
</html>
