<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>
<br>
<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Start Time</td>
    <td>End Time</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= location.name %></td>
    <% location.time_slots.each do |slots| %>
      <td><%= slots.start_time %> </td>
      <td><%= slots.end_time %> </td>
    <% end %>
    <td>
      <%= link_to "Delete", occasion_location_path(@occasion, location), method: :delete, data: {confirm: "Are you sure?"} %>
      <%#= link_to "Edit", edit_occasion_location_path(@occasion, location) %>
    </td>
  </tr>
  </tbody>
</table>

