
<% if current_user.meta.is_a? Coordinator %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %>
  <% end %>

  <% location.time_slots.each do |t| %>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= t.id %>" aria-expanded="true" aria-controls="collapseOne">
              <%= t.location.name %>
            </button>
            <button class="btn btn-link float-right" type="button" data-toggle="collapse" data-target="#<%= t.id %>" aria-expanded="true" aria-controls="collapseOne">
              <span class="glyphicon glyphicon-menu-down pull-right"></span>
            </button>
          </h5>
        </div>
        <div id="<%= t.id %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>Start Time: <%= t.start_time.strftime("%H:%M %p") %> </p>
            <p> End Time: <%= t.end_time.strftime("%H:%M %p") %> </p>
            <p> Interval: <%= t.interval %> minutes </p>
            <% if policy(location).edit? %>
              <%#= link_to "Edit", edit_occasion_location_path(@occasion, location) %>
            <% end %>
            <% if policy(location).destroy? %>
              <%= link_to "Delete", occasion_location_path(@occasion, location), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


