<tr class="event-collapse">
  <td class="name"><%= e.name %></td>
  <td><%= e.description %></td>
  <td><span class="glyphicon glyphicon-menu-down"></span></td>
</tr>
<tr>
  <td colspan="2">
    <div class="accordion">
      <table class="table">
        <thead class="session-header">
        <tr>
          <th>Time</th>
          <th>Spots Left</th>
          <th>Status</th>
          <th>Unregister</th>
        </tr>
        </thead>
        <tbody>
        <% e.sessions.each do |s| %>
          <tr class="events">
            <td><%= s.start_time.strftime("%l:%M %p") %> -  <%= s.end_time.strftime("%l:%M %p") %></td>
            <td class="capacity_remaining"><%= s.capacity_remaining %></td>
            <td class="registered"><%= @user.sessions.include?(s) ? "Registered" : check_box_tag("register", value = s.id, false, title: "Register for activity", role: role, user_id: @user.id) %> </td>
            <td><%= @user.sessions.include?(s) ? content_tag(:button, "", class: ["button-small", "glyphicon", "glyphicon-remove", "left-indent", "remove-button"], title: "Unregister for activity", user_id: @user.id, session_id: s.id, role: role) : nil %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </td>
</tr>