<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>
<div>
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %>
  <% end %>
</div>


<!--<div class="container">-->
<!--  <h2>Activities</h2>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <table class="table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--          <th>Time</th>-->
<!--          <th>Spots Left</th>-->
<!--          <th>Description</th>-->
<!--          <th>Status</th>-->
<!--        </tr>-->
<!--        </thead>-->
<%# @activities.each do |e| %>
<%# e.sessions.each do |s| %>
<!--            <tbody>-->
<!--            <td><%#= e.sessions.include?(s) && e.sessions.first != s ? " " : e.name %></td>-->
<!--            <td><%#= s.start_time.strftime("%l:%M %p") %> -  <%#=s.end_time.strftime("%l:%M %p")%></td>-->
<!--            <td><%#= s.capacity_remaining %></td>-->
<!--            <td><%#= e.description %></td>-->
<!--            <td class="registered"><%#= @user.sessions.include?(s) ? "Registered" : check_box_tag("registered", value = s.id) %></td>-->
<!--            </tbody>-->
<%# end %>
<%# end %>
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<div class="container">
  <h2>Activities</h2>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead class="event-header">
        <tr>
          <th class="name">Name</th>
          <th>Description</th>
          <th></th>
        </tr>
        </thead>

        <% @activities.each do |e| %>
          <tr class="event-collapse ">
            <td class="name"><%= e.name %></td>
            <td><%= e.description %></td>
            <td><span class="glyphicon glyphicon-menu-down"></span></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="accordion">
                <table class="table">
                  <thead class="session-header">
                  <tr>
                    <th>Time</th>
                    <th>Spots Left</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% e.sessions.each do |s| %>
                    <tr class="events">
                      <td><%= s.start_time.strftime("%l:%M %p") %> -  <%= s.end_time.strftime("%l:%M %p") %></td>
                      <td><%= s.capacity_remaining %></td>
                      <td class="registered"><%= @user.sessions.include?(s) ? "Registered" : check_box_tag("registered", value = s.id) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>

              </div>
            </td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>

<!--          <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--              <table class="table hide">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th>Time</th>-->
<!--                  <th>Spots Left</th>-->
<!--                  <th>Status</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                  <td><%#= e.sessions.include?(s) && e.sessions.first != s ? " " : e.name %></td>-->
<!--                  <td><%#= s.start_time.strftime("%l:%M %p") %> -  <%#= s.end_time.strftime("%l:%M %p") %></td>-->
<!--                  <td><%#= s.capacity_remaining %></td>-->
<!--                  <td><%#= e.description %></td>-->
<!--                  <td class="registered"><%#= @user.sessions.include?(s) ? "Registered" : check_box_tag("registered", value = s.id) %></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->


<!--<div class="container">-->
<!--  <h2>Activities</h2>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <table class="table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--          <th>Description</th>-->
<!--        </tr>-->
<!--        </thead>-->
<%# @activities.each do |e| %>
<!--          <tbody>-->
<!--            <td><%#=e.name %></td>-->
<!--            <td><%#=e.description %></td>-->
<!--            <button type="button" class="Chevron down"  data-toggel="collapse" data-target="#demo"></button>-->
<!--            <div id="demo" class="collapse">This is a test</div>-->
<!--          </tbody>-->
<%# end %>
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->