<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>
<div>
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %>
  <% end %>
</div>


<!--<div class="container">-->
<!--  <h2>Activities</h2>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <table class="table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--          <th>Time</th>-->
<!--          <th>Spots Left</th>-->
<!--          <th>Description</th>-->
<!--          <th>Status</th>-->
<!--        </tr>-->
<!--        </thead>-->
<%# @activities.each do |e| %>
<%# e.sessions.each do |s| %>
<!--            <tbody>-->
<!--            <td><%#= e.sessions.include?(s) && e.sessions.first != s ? " " : e.name %></td>-->
<!--            <td><%#= s.start_time.strftime("%l:%M %p") %> -  <%#=s.end_time.strftime("%l:%M %p")%></td>-->
<!--            <td><%#= s.capacity_remaining %></td>-->
<!--            <td><%#= e.description %></td>-->
<!--            <td class="registered"><%#= @user.sessions.include?(s) ? "Registered" : check_box_tag("registered", value = s.id) %></td>-->
<!--            </tbody>-->
<%# end %>
<%# end %>
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div>-->
<!--<table class="table">-->
<!--  <thead class="thead-dark">-->
<!--  <tr>-->
<!--    <th scope="col">Name</th>-->
<!--    <th scope="col">Location</th>-->
<!--    <th scope="col">Description</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<%# @activities.each do |e| %>
<!--    <tr class="event-collapse">-->
<!--      <td><%#= e.name %></td>-->
<!--      <td><%#= e.location.name %></td>-->
<!--      <td><%#= e.description %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <div id="hide_down" class="hide">-->
<!--          <table class="table">-->
<!--            <thead class="thead-secondary">-->
<!--            <tr>-->
<!--              <th scope="col">Capacity Remaining</th>-->
<!--              <th scope="col">Start Time</th>-->
<!--              <th scope="col">End Time</th>-->
<!--              <th scope="col">Register</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<%# e.sessions.each do |ed| %>
<!--              <tr class="events">-->
<!--                <td><%#= ed.capacity_remaining %></td>-->
<!--                <td><%#= ed.start_time.strftime("%F %H:%M %p") %></td>-->
<!--                <td><%#= ed.end_time %></td>-->
<!--                <td><%#= button_to "Register", {controller: "registrations", action: "register", part_id: @participant_id, id: ed.id}, class: "button", id: "Register_button" %>-->
<%# if ed.capacity_remaining == 0 %>
<%#= button_to "Add to WaitList", {controller: "registrations", action: "add_to_waitlist", part_id: @participant_id, id: ed.id}, class: "button" %>
<%# end %>
<!--                </td>-->
<!--              </tr>-->
<%# end %>
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->
<%# end %>
<!--  </tbody>-->
<!--</table>-->
<!--</div>-->


<div class="container">
  <h2>Activities</h2>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Spots Left</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        </thead>
        <% @activities.each do |e| %>
          <% e.sessions.each do |s| %>
            <tbody>
            <td><%= e.sessions.include?(s) && e.sessions.first != s ? " " : e.name %></td>
            <td><%= s.start_time.strftime("%l:%M %p") %> -  <%= s.end_time.strftime("%l:%M %p") %></td>
            <td><%= s.capacity_remaining %></td>
            <td><%= e.description %></td>
            <td class="registered"><%= @user.sessions.include?(s) ? "Registered" : check_box_tag("registered", value = s.id) %></td>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>



<!--<div class="container">-->
<!--  <h2>Activities</h2>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <table class="table">-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--          <th>Description</th>-->
<!--        </tr>-->
<!--        </thead>-->
        <%# @activities.each do |e| %>
<!--          <tbody>-->
<!--            <td><%#=e.name %></td>-->
<!--            <td><%#=e.description %></td>-->
<!--            <button type="button" class="Chevron down"  data-toggel="collapse" data-target="#demo"></button>-->
<!--            <div id="demo" class="collapse">This is a test</div>-->
<!--          </tbody>-->
        <%# end %>
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->