<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>
<div>
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %>
  <% end %>
</div>

<div>
  <%=link_to "Home", controller: "homeroutes", action: "routes" %>
</div>
<h1>Events</h1>
  <%@events.each do |e| %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
      </tr>
      </thead>
      <tr>
        <td><%=e.name %></td>
        <td><%=e.location.name %></td>
        <td><%=e.description %></td>
      </tr>
      <thead>
      <tr>
        <th>Capacity</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Register</th>
      </tr>
      </thead>
      <tbody>
      <%e.event_details.each do |ed| %>
        <tr>
          <td><%=ed.capacity %></td>
          <td><%= ed.start_time %></td>
          <td><%= ed.end_time %></td>
          <td><%=link_to "Register", controller: "registrations", action: "register", part_id: @participant_id, id:ed.id %></td>
        </tr>
      <%end %>
      </tbody>
    </table>
  <%end %>

<%=link_to "Go Back", @participant.member %>