<h1>Event Time Slots</h1>


<%=@occasions.each do |o| %>
  <table>
    <thead>
    <tr>
      <td>Name</td>
      <td>Start Date</td>
      <td>End Date</td>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=o.name %></td>
        <td><%=o.start_date %></td>
        <td><%=o.end_date %></td>
      </tr>
    </tbody>
  </table>
<%o.events.each do |e| %>
  <%=form_for :registrations, url: {action: "create"} do |s| %>
    <table>
      <thead>
      <tr>
        <td>Name</td>
        <td>Location</td>
        <td>Description</td>
      </tr>
      </thead>
      <tr>
        <td><%=e.name %></td>
        <td><%=e.location %></td>
        <td><%=e.description %></td>
      </tr>
      <thead>
        <tr>
          <td>Capacity</td>
          <td>Start Time</td>
          <td>End Time</td>
          <td>Register</td>
        </tr>
      </thead>
      <tbody>
        <%e.event_details.each do |ed| %>
          <tr>
            <td><%=ed.capacity %></td>
            <td><%= ed.start_time %></td>
            <td><%= ed.end_time %></td>
            <td><%=link_to "Register", "register/#{ed.id}" %></td>
            <td><%=s.submit "Register" %></td>
          </tr>
        <%end %>
      </tbody>
    </table>
    <%end %>
<%end %>
<%end %>