<div id="coordinator_page" class="container">
  <div class="row">
    <div class="col border-right">
      <% @events.each do |event| %>
        <div class="bottom-indent-more">
          <h1 class="accordian"><%= event.name %>
            <%= link_to "Activity", new_activity_path(event_id: event.id), class: "button-small primary-button  glyphicon glyphicon-plus", title: "Create a new activity for event." %>
            <% if policy(event).destroy? %>
              <%= link_to " Edit", edit_event_path(event), class: "primary-button  button-small glyphicon glyphicon-edit" %>
              <%= link_to "Delete", event_path(event.id), class: "btn-danger button-small", data: {method: :delete, confirm: "Are you sure?"} %>
              <%= check_box_tag "check_visible", event.visible, checked=event.visible, event_id: event.id, class: "checkbox_class", title: event.visible ? "Hide Event" : "Show Event" %>
              <span class="glyphicon glyphicon-info-sign small-icon" data-toggle="tooltip" data-placement="top" title="Check this box to make this event visible to all users."></span>
          <% end %>
            <span class="badge badge-danger">Starts at <%= event.start_date.strftime("%m/%d/%Y") %></span>
          </h1>

          <hr>
          <h2>Activities</h2>
          <table class="table" >
            <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Created By</th>
              <th scope="col">Actions</th>
              <th></th>
            </tr>
            </thead>
            <% event.activities.each do |activity| %>
              <tbody>
              <tr class="event-collapse solid-element">
                <td>  <%= activity.name %></td>
                <td>  <%= activity.description %></td>
                <td><%= activity.user != nil ? activity.user.first_name : "N/A" %></td>
                <td>
                  <% if policy(activity).destroy? %>
                    <%= link_to "Edit", edit_activity_path(activity), class: "primary-button button" %>
                    <%= link_to "Delete", activity_path(activity.id), class: "btn btn-danger", title: "Delete Activity", data: {method: :delete, confirm: "Are you sure?"} %>
                  <% end %>
                </td>
                <td><span class="glyphicon glyphicon-menu-down"></span></td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="accordion">
                    <table class="table">
                      <thead>
                      <tr class="session-header secondary-color">
                        <th>Sessions</th>
                        <th>Start Time</th>
                        <th>Location</th>
                        <th>Capacity</th>
                        <th>Spots Left</th>
                        <th>Team Size Restriction</th>
                        <th>Download</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @num = 1 %>
                      <% activity.sessions.each do |session| %>
                        <tr>
                          <td><%= @num %>
                            <% @num += 1 %></td>
                          <td><%= session.start_time.strftime("%l:%M %p") %>
                            -  <%= session.end_time.strftime("%l:%M %p") %></td>
                          <td><%=session.room.nil? ? "No Room Assigned" : session.room.location.location_name + ": " + session.room.room_number.to_s + " " + session.room.room_name %></td>
                          <td><%= session.capacity %></td>
                          <td><%= session.capacity_remaining %></td>
                          <% if activity.iscompetetion %>
                            <td><%= activity.max_team_size %></td>
                          <% else %>
                            <td>None</td>
                          <% end %>
                          <td> <%= link_to "Spreadsheet", activity_spread_sheet_path(session.id), title: "Download  activity spread sheet" %></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <% if policy(Event).new? %>
      <div class="col-sm-2.5">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Actions</div>
          <div class="card-body text-dark">
            <div class="indent-bellow">
            <%= link_to " Event", new_event_path, class: "primary-button button-small glyphicon glyphicon-plus", title: "Create a new event" %>
            </div>
            <div class="indent-bellow">
            <%= link_to " Users", all_users_path, class: "primary-button  button-small glyphicon glyphicon-user", title: "View All Users Profiles" %>
            </div>
            <div class="indent-bellow">
            <%= link_to " Reports", report_path, class: "primary-button   button-small glyphicon glyphicon-stats", title: "View Reports" %>
            </div>
            <%if policy(Setting).edit? %>
          <div class="indent-bellow">
              <%= link_to " Settings", edit_settings_path, class: "primary-button button-small glyphicon glyphicon-cog", title: "Edit Site Settings" %>
            </div>
              <%end %>
            <div class="indent-bellow">
              <%= link_to " Locations", manage_locations_path, class: "primary-button button-small glyphicon glyphicon-road", title: "Manage all locations" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


