<div id="coordinator_page" class="container">
  <div class="row">
    <div class="col border-right">
      <% @events.each do |event| %>
        <div class="bottom-indent-more">
          <h1 class="accordian"><%= event.name %>
            <%= link_to "Activity", new_activity_path(event_id: event.id), class: "btn button-small glyphicon glyphicon-plus", title: "Create a new activity for event." %>
            <% if policy(event).destroy? %>
              <%= link_to "Edit", edit_event_path(event), class: "btn button-small glyphicon glyphicon-edit" %>
              <%= link_to "Delete", event_path(event.id), class: "btn btn-danger", data: {method: :delete, confirm: "Are you sure?"} %>
            <% end %>
            <span class="badge badge-danger">Starts at <%= event.start_date.strftime("%d/%m/%Y") %></span>
          </h1>

          <hr>
          <h2>Activities</h2>
          <table class="table" >
            <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Created By</th>
              <th scope="col">Actions</th>
              <th></th>
            </tr>
            </thead>
            <% event.activities.each do |activity| %>
              <tbody>
              <tr class="event-collapse">
                <td>  <%= activity.name %></td>
                <td>  <%= activity.description %></td>
                <td><%= activity.user != nil ? activity.user.first_name : "N/A" %></td>
                <td>
                  <% if policy(activity).destroy? %>
                    <%= link_to "Edit", edit_activity_path(activity), class: "button-small" %> <%= link_to "Delete", activity_path(activity.id), class: "btn btn-danger", title: "Delete Activity", data: {method: :delete, confirm: "Are you sure?"} %>
                  <% end %>
                </td>
                <td><span class="glyphicon glyphicon-menu-down"></span></td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="accordion">
                    <table class="table">
                      <thead>
                      <tr class="session-header">
                        <th>Sessions</th>
                        <th>Start Time</th>
                        <th>Location</th>
                        <th>Capacity</th>
                        <td>Spots Left</td>
                        <td>Team Size Restriction</td>
                      </tr>
                      </thead>
                      <tbody>
                      <% @num = 1 %>
                      <% activity.sessions.each do |session| %>
                        <tr>
                          <td><%= @num %>
                            <% @num += 1 %></td>
                          <td><%= session.start_time.strftime("%l:%M %p") %>
                            -  <%= session.end_time.strftime("%l:%M %p") %></td>
                          <td><%= session.room.location.location_name + ": " + session.room.room_number + " " + session.room.room_name %></td>
                          <td><%= session.capacity %></td>
                          <td><%= session.capacity_remaining %></td>
                          <% if activity.iscompetetion %>
                            <td><%= activity.max_team_size %></td>
                          <% else %>
                            <td>None</td>
                          <% end %>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <% if policy(Event).new? %>
      <div class="col-sm-2">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Actions</div>
          <div class="card-body text-dark">
            <%= link_to " Event", new_event_path, class: "button-small glyphicon glyphicon-plus", title: "Create a new event" %>
            <%= link_to " Users", all_users_path, class: "button-small glyphicon glyphicon-user", title: "View All Users Profiles" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>






