<h1>Additional Information Needed</h1>
<%= form_for @coordinator do |f| %>
  <div class="row">
    <div class="column"> <%= f.label :name, "Name" %>
    </div>
    <div class="column"> <%= f.text_field(:name) %>
    </div>
  </div>

    <div class="actions"> <%= submit_tag "Confirm", class: "button" %></div>
  <%= f.fields_for :user do |u| %>

   <div class="row">
     <div class="column" ><%= u.label :email %>
     </div>
     <div class="column"> <%= u.email_field :email %>
     </div>
   </div>

    <div class="row">
      <div class="column"> <%= u.label :password %>
      </div>
      <div class="column"> <%= u.password_field :password %>
      </div>
    </div>

    <div class="field">
      <div class="column"> <%= u.label :password_confirmation %>
      </div>
      <div class="column"><%= u.password_field :password_confirmation %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @coordinator.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coordinator.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @coordinator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>