<h1>Please provide your information below</h1>
<%=form_for @teacher do |f| %>
  <div class="field">
    <%=f.label :name, "First and Last Name" %>
    <%=f.text_field(:name) %>
  </div>
  <div class="field">
    <%=f.label :password_digest, "Password" %>
    <%=f.password_field(:password_digest) %>
  </div>
  <div class="field">
    <%=f.label :school, "School Name" %>
    <%=f.text_field(:school )%>
  </div>
  <div class="field">
    <%=f.label :email, "School Email Address" %>
    <%=f.text_field(:email) %>
  </div>
  <div class="actions"><%=submit_tag "Confirm" %></div>
<%end %>

<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>