<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= form_for([@occasion, @location], :html => {:class => "form-horizontal center"}) do |f| %>
  <div class="form-group">
    <%= f.label :location, "Location:", class: "col-md-4 control-label" %>
    <div class="col-xs-2">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <%= f.fields_for :time_slots do |ff| %>
    <div class="form-group">
      <%= ff.label :interval, "Interval(in minutes):", class: "col-md-4 control-label" %>
      <div class="col-xs-1">
        <%= ff.number_field :interval, class: "form-control col-xs-1", min: "0" %><span></span>
      </div>
    </div>

    <div class="form-group">
      <%= ff.label :start_time, "Start Time:", class: "col-md-4 control-label" %>
      <div class="col-xs-2">
        <%= ff.time_select :start_time, {minute_step: 15}, class: "selectPicker" %>
      </div>
    </div>
    <div class="form-group">
      <%= ff.label :end_time, "End Time:", class: "col-md-4 control-label" %>
      <div class="col-xs-2">
        <%= ff.time_select :end_time, {minute_step: 15}, class: "selectPicker" %>
      </div>
    </div>
  <% end %>
    <div class="col-md-5 control-label">
      <%= f.submit "Create", class: "btn btn-default btn-primary" %>
    </div>
<% end %>

