<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>Please fix <%= pluralize(@event.errors.count, "error") %> to proceed. </h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="card border-dark mb-3">
    <div class="card-header dark-header "><h1>Event Information</h1><span></span></div>
    <div class="card-body text-dark bengal-body">
      <div class="container1">
        <%= form_for @event, :html => {:class => "form-horizontal center"} do |f| %>
          <div class="row">
            <div class="col">
              <div class="">
                <%= f.label :name, "Event Name:", class: "" %>
                <div class="">
                  <%= f.text_field :name, placeholder: "Event Name", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="">
                <%= f.label :description, "Description:", class: "" %>
                <div class="">
                  <%= f.text_area :description, placeholder: "Detailed Description", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.label :start_date, "Start Date:", class: "" %>
                <div class="">
                  <%= f.date_select :start_date, placeholder: "Start Date", class: "control-label" %>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <%= f.fields_for :activities do |act| %>
            <div class="fields">
              <div class="card border-dark mb-3">
                <div class="card-header dark-header"><h3>Activity</h3></div>
                <div class="card-body text-dark bengal-body">
                  <div class="row">
                    <div class="col">
                      <div>
                        <%= act.label :name, "Activity Name", class: "" %>
                      </div>
                      <div>
                        <%= act.text_field :name, placeholder: "Activity Name" %>
                      </div>
                    </div>
                    <div class="col">
                      <div>
                        <%= act.label :description, "Description" %>
                      </div>
                      <div>
                        <%= act.text_area :description, placeholder: "Description" %>
                      </div>
                    </div>
                    <%= act.hidden_field :user_id, value: current_user.id %>
                  </div>
                  <hr>
                  <%= act.fields_for :sessions do |session| %>
                    <div class="card border-dark mb-3">
                      <div class="card-header dark-header"><h3>Session</h3></div>
                      <div class="card-body text-dark bengal-body">
                        <div class="row">
                          <div class="col">
                            <%= session.label :start_time, "Start Time", class: "" %>
                            <div>
                              <%= session.time_select :start_time, minute_step: 30, class: "" %>
                            </div>
                          </div>

                          <div class="col">
                            <div>
                              <%= session.label :end_time, "End Time", class: "" %>
                            </div>
                            <%= session.time_select :end_time, minute_step: 30, class: "" %>
                          </div>
                          <div class="col">
                            <div>
                              <%= session.label :capacity, "Capacity", class: "" %>
                            </div>
                            <%= session.select :capacity, options_for_select(1..500), class: "" %>
                          </div>
                          <div class="col">
                            <div>
                              <%= session.label :_destroy, "Remove", class: "" %>
                            </div>
                            <%= session.check_box :_destroy %>
                          </div>
                          <hr>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <%= act.label :_destroy, "Remove Activity" %>
                  <%= act.check_box :_destroy %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="">
              <div class="col">
                <%= f.submit "Create", class: "btn btn-default btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



