<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <div class="alert alert-danger">
      <%= e %>
    </div>
  <% end %>
<% end %>

<div class="container">
  <div class="card mb-3">
    <div class="primary-color event-header"><h1>Event Information</h1></div>
    <div class="card-body text-dark">
      <%= form_tag(@action, id: "event-form") do %>
        <div class="row">
          <div class="col-lg-3">
            <%= text_field_tag "name", @edit ? @event.name : nil, placeholder: "Event Name", class: "form-control left-indent-more" %>
          </div>
          <div class="col-lg-3">
            <%= text_area_tag "description", @edit ? @event.description : nil, placeholder: "Detailed Description", class: "form-control control-label" %>
          </div>
          <div class="col-lg-2">
            <%= text_field_tag "start_date", @edit ? @event.start_date.strftime("%b %d %Y") : nil, placeholder: "Start Date", class: "form-control control-label" %>
          </div>
          <div class="col-lg-2" id="hide" hidden="true">
            <%= text_field_tag "visible_constraint", @edit && @event.visible_constraint != nil ? @event.visible_constraint.strftime("%b %d %Y") : nil, placeholder: "Visibility Time Constraint", class: "form-control control-label" %>
          </div>
          <div class="col-lg-2">
            <%= check_box_tag "show", true %>
            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top"
                  title="Check this box if you want to edit the date that the event will be visible"></span>
            <% if !@edit %>
              <div>
                <input type="checkbox" id="location_visible" name="location_visible" value="true">
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top"
                      title="Check this box if you want to add a new location with this event."></span>
              </div>
            <% end %>
          </div>
        </div>

        <hr>
        <% if !@edit %>
          <div id="locations_container" hidden="true">
            <div class="row">
              <div class="col-lg-4">
                <h2 class="left-indent-more">Locations
                  <span class="glyphicon glyphicon-info-sign small-icon" data-toggle="tooltip" data-placement="top" title="Enter the Locations that the event will be held at. You can add more locations if needed. Inside the locations you add the room numbers that will be available."></span>
                </h2>
              </div>
            </div>


            <div class="Location">
              <div class="row">
                <div class="col-lg-4">
                  <%= text_field_tag "location_1", nil, placeholder: "Location Name", class: "form-control left-indent-more" %>
                </div>
                <div class="col-lg-4">
                  <%= text_field_tag "address_1", nil, placeholder: "Address (optional)", class: "form-control" %>
                </div>
                <div class="col-lg-4">
                  <button class="button-small solid-element glyphicon glyphicon-plus" type="button" title="Add A New Location"></button>
                </div>
              </div>
            </div>
            <hr>
            <div class="Room">
              <div class="row">
                <div class="col-lg-3 sub-section left-indent-more">
                  <%= text_field_tag "room_number_New_1", nil, placeholder: "Room #", class: "form-control" %>
                </div>
                <div class="col-lg-3 sub-section">
                  <%= text_field_tag "room_name_1", nil, placeholder: "Room Name (optional)", class: "form-control" %>
                </div>
                <div class="col-lg-3 sub-section">
                  <button class="button-small solid-element glyphicon glyphicon-plus" type="button" title="Add A New Room"></button>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-lg-2 left-indent-more">
            <%= submit_tag @edit ? "Update" : "Save and Continue", class: "button primary-button" %>
          </div>
          <div class="col-lg-3">
            <%= link_to "Copy Events And Activities", copy_event_path, class: "button primary-button", title: "Copy an event and activities from a previous event " %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
