<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>Please fix <%= pluralize(@event.errors.count, "error") %> to proceed. </h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="card mb-3">
    <div class="card-header event-header"><h1>Event Information</h1></div>
    <div class="card-body text-dark">
      <%= form_tag("/events/create", {id: "event-form"}) do %>
        <div class="row">
          <div class="col-lg-4">
            <%= text_field_tag "name", nil, placeholder: "Event Name", class: "form-control left-indent-more" %>
          </div>
          <div class="col-lg-4">
            <%= text_area_tag "description", nil, placeholder: "Detailed Description", class: "form-control" %>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <%= label_tag :start_date, "Start Date:", class: "" %>
              <div>
                <%= date_select :start_date, placeholder: "Start Date", class: "control-label" %>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-lg-4">
            <h2 class="left-indent-more">Locations</h2>
            <!--            <span class="glyphicon glyphicon-info-sign " title=""></span>-->
          </div>
        </div>

        <div id="Loaction">
          <div class="row">
            <div class="col-lg-4">
              <%= text_field_tag "Location", nil, placeholder: "Location Name", class: "form-control left-indent-more" %>
            </div>
            <div class="col-lg-4">
              <%= text_field_tag "Address", nil, placeholder: "Address (optional)", class: "form-control" %>
            </div>
            <div class="col-lg-4">
              <button class="button-small glyphicon glyphicon-plus" type="button" title="Add a new location"></button>
            </div>
          </div>
        </div>
        <hr>
        <div id="Room">
          <div class="row">
            <div class="col-lg-3 sub-section left-indent-more">
              <%= text_field_tag "Room_number_1", nil, placeholder: "Room #", class: "form-control" %>
            </div>
            <div class="col-lg-3 sub-section">
              <%= text_field_tag "Room_name_1", nil, placeholder: "Room Name (optional)", class: "form-control" %>
            </div>
            <div class="col-lg-3 sub-section">
              <button class="button-small glyphicon glyphicon-plus" type="button" title="Add a new room"></button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 left-indent-more">
            <%= submit_tag "Save", class: "button button-small" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
