<h1>Sign Up</h1>
<h4>It's simple!</h4>
<%= form_for @sponsor do |f| %>
  <div class="row">
    <div class="column"><%= f.label :name, "Your Name:  " %>
    </div>
    <div class="field-container"><%= f.text_field :name, placeholder: "Full Name", class: "field form-control" %>
    </div>
  </div>
  <%= f.fields_for :user do |u| %>

    <div class="row">
      <div class="column"><%= u.label :email %>
      </div>
      <div class="field-container"> <%= u.email_field :email, placeholder: "Email", class: "field form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="column">  <%= u.label :password %>
      </div>
      <div class="field-container">  <%= u.password_field :password, placeholder: "Password", class: "field form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="column"><%= u.label :password_confirmation, "Re-enter Password" %>
      </div>
      <div class="field-container"><%= u.password_field :password_confirmation , placeholder: "Password", class: "field form-control" %>
      </div>
    </div>

  <% end %>
  <div class="actions"><%= submit_tag "Create Account", class: "button" %></div>
<% end %>

<% if @sponsor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>