<h1>Welcome, <%= @sponsor.name %></h1>
<%= link_to "Go to Events", occasions_path %>
<h3>Event (<%= current_user.meta.supervisor.events.count %>)</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Make Ahead</th>
    <th>Location</th>
    <th>Capacity</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% if current_user.meta.supervisor.events.any? %>
    <tr>
      <% current_user.meta.supervisor.events.each do |e| %>
        <% e.event_details.each do |d| %>
        <tr>
          <td><%= e.name %></td>
          <td> <%= e.description %></td>
          <td> <%= e.isMakeAhead %></td>
          <td><%= e.location.name %></td>
          <td> <%= d.capacity_remaining %></td>
          <td> <%= d.start_time.strftime("%F %H:%M %p") %></td>
          <td><%= d.end_time.strftime("%F %H:%M %p") %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
