


<div class="container">
  <div class="row">

    <div class="col">
      <% if current_user.meta.supervisor.events.present? %>
        <h3>Events</h3>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Make Ahead</th>
            <th scope="col">Location</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% if current_user.meta.supervisor.events.any? %>
            <tr>
              <% current_user.meta.supervisor.events.each do |e| %>
              <tr>
                <th scope="row"><%= link_to e.name, controller: "events", action: "show", id: e.id, occasion_id: e.occasion.id %></th>
                <td> <%= e.description %></td>
                <td> <%= e.isMakeAhead %></td>
                <td><%= e.location.name %></td>
            <% end %>
          <% end %>
          </tr>
          </tbody>
        </table>
      <% else %>
        <p class="display-4">There are no events under you. Click on the link to create one.</p>
      <% end %>
    </div>


    <div class="col-sm-2">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Actions</div>
        <div class="card-body text-dark">
          <div class="indent-bellow">
            <button class="btn button-small indent-bellow" title="Make An Event">
              <span class="fas fa-calendar-plus"></span><%= link_to " Create Event", occasions_path, class: "btn-btn-success" %>
            </button>
          </div>
          <div class="indent-bellow">
            <button class="btn button-small" class="Print My Events" title="Print My Events">
              <span class="glyphicon glyphicon-print" aria-hidden="true"> </span><%= link_to "  Print", {controller: "sponsors", action: "pdfshow", part_id: @sponsor.id}, target: :_blank %>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>