<h1>Enter Team Name</h1>


<%=form_for @team do |f| %>
  <div class="field">
    <%=f.text_field :name %>
  </div>
  <h2>Invite Members</h2>
  <div class="field">
    <%=label_tag "member email" %>
    <%=text_field_tag :email1 %>
  </div>
  <div class="field">
    <%=label_tag "member email" %>
    <%=text_field_tag :email2 %>
  </div>
  <div class="field">
    <%=label_tag "member email" %>
    <%=text_field_tag :email3 %>
  </div>
  <div class="field">
    <%=label_tag "member email" %>
    <%=text_field_tag :email4 %>
  </div>
  <div>
    <%=f.submit "Create", class:"button" %>
  </div>
<%end %>