<h1>Invite Members</h1>

<%=form_tag(controller: "teams", action: "register_members") do %>
  <div>
    <%=label_tag "member email" %>
    <%=text_field_tag :email %>
  </div>
  <div>
    <%=label_tag "member email" %>
    <%=text_field_tag :email %>
  </div>
  <div>
    <%=label_tag "member email" %>
    <%=text_field_tag :email %>
  </div>
  <div>
    <%=label_tag "member email" %>
    <%=text_field_tag :email %>
  </div>
  <div>
    <%=submit_tag "Invite" %>
  </div>
<%end %>