<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="team_registrations">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card w-100 text-white bg-secondary mb-3" style="max-width: 30rem;">
        <div class="card-header">Team Members</div>
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Member</th>
              <th scope="col">Position</th>
              <%if policy(@team).change? %>
                <th scope="col">Drop Member</th>
              <%end %>
            </tr>
            </thead>
            <tbody>
            <%@team.students.each do |m| %>
              <tr>
                <td><%=m.name %></td>
                <%if m == @team.get_lead %>
                  <td>Team Lead</td>
                <%else %>
                  <td>Member</td>
                <%end %>
                <%if policy(@team).change? %>
                  <%if m == @team.get_lead %>
                    <td>Can't Drop Team Lead</td>
                  <%else %>
                    <td><%=button_to("Drop",  {method: :post, controller: "groupings", action: :drop, part_id: m.id, id: @team.id}, data: {confirm: "Are you sure?"})%></td>
                  <%end %>
                <%end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h1>Team <%=@team.name %></h1>




  </div>
</div>

<div>
  <h2>Registration Details</h2>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Start Time</th>
      <th>End Time</th>
      <%if policy(@team).change? %>
        <th>Modify</th>
      <%end %>
    </tr>
    </thead>
    <tbody>
      <% @team.participant.event_details.each do |s| %>
        <tr>
          <td><%=Event.find(s.event_id).name %></td>
          <td><%=Event.find(s.event_id).description %></td>
          <td><%=Event.find(s.event_id).location.name %></td>
          <td><%=s.start_time %></td>
          <td><%=s.end_time %></td>
          <%if policy(@team).change? %>
            <td>
              <%=button_to("Drop Event", {controller: "registrations", part_id: @team.participant.id, id: s.id, action: :drop}, data: {confirm: "Are you sure?"}) %>
            </td>
          <%end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%if policy(@team).change? %>
  <div>
    <%=link_to "Invite Members", controller: "teams", action: "invite", id: @team.id %>
  </div>
  <%if @team.students.count > 1 %>
    <div>
      <%=link_to("Register for events as a team", controller: "registrations", action: "index", part_id: @team.participant.id)%>
    </div>
  <%else %>
    <p>You have to have at least two members to register for an event as a team.</p>
  <%end %>
<%end %>

