<h2>Registration Details</h2>
<div class="container col-xl">
  <div class="row">
    <div class="col-sm-8">
      <div class="team_registrations">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <%if policy(@team).change? %>
            <th scope="col">Modify</th>
          <%end %>
        </tr>
        </thead>
        <tbody>
          <% @team.participant.event_details.each do |s| %>
            <tr>
              <td><%=Event.find(s.event_id).name %></td>
              <td><%=Event.find(s.event_id).description %></td>
              <td><%=Event.find(s.event_id).location.name %></td>
              <td><%=s.start_time %></td>
              <td><%=s.end_time %></td>
              <%if policy(@team).change? %>
                <td>
                  <%=button_to("Drop Event", {controller: "registrations", part_id: @team.participant.id, id: s.id, action: :drop}, data: {confirm: "Are you sure?"}) %>
                </td>
              <%end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>


    <div class="col-sm-4">
      <div>
      <div class="card w-100 text-white bg-secondary mb-3" style="max-width: 30rem;">
        <div class="card-header">Team Members</div>
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Member</th>
              <th scope="col">Position</th>
              <%if policy(@team).change? %>
                <th scope="col">Drop Member</th>
              <%end %>
            </tr>
            </thead>
            <tbody>
            <%@team.students.each do |m| %>
              <tr>
                <td><%=m.name %></td>
                <%if m == @team.get_lead %>
                  <td>Team Lead</td>
                <%else %>
                  <td>Member</td>
                <%end %>
                <%if policy(@team).change? %>
                  <%if m == @team.get_lead %>
                    <td>Can't Drop Team Lead</td>
                  <%else %>
                    <td><%=button_to("Drop",  {method: :post, controller: "groupings", action: :drop, part_id: m.id, id: @team.id}, class: "button", data: {confirm: "Are you sure?"})%></td>
                  <%end %>
                <%end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <div class="card w-100 text-white bg-secondary mb-3" style="max-width: 30rem;">
        <div class="card-header">Actions</div>
        <div class="card-body">
          <%if policy(@team).change? %>
            <p>Invite members to join your team.</p>
            <p><%=link_to "Invite Members", controller: "teams", action: "invite", id: @team.id %></p>
            <%if @team.students.count > 1 %>
              <p>You can register for events as a team. Every member will participate in the event.</p>
              <p><%=link_to("Register For Events", controller: "registrations", action: "index", part_id: @team.participant.id)%></p>
            <%else %>
              </div>
              </div>

              <p>You have to have at least two members to register for an event as a team.</p>
            <%end %>
            <%else %>
              <p>Your team lead will register the team for events. Talk to them to agree on what events you want to take.</p>
          <%end %>
    </div>
  </div>
</div>




