
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>Registration Details</h2>
      <div class="team_registrations">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Start Time</th>
          <%if policy(@team).change? %>
            <th scope="col">Modify</th>
          <%end %>
        </tr>
        </thead>
        <tbody>
          <%@number = 1 %>
          <% @team.sessions.each do |s| %>
            <tr>
              <td><%=@number %></td>
              <td><%=s.activity.name %></td>
              <td><%=s.activity.description %></td>
              <td><%=s.start_time.strftime("%l:%M %p") %> -  <%= s.end_time.strftime("%l:%M %p") %></td>
              <%if policy(@team).change? %>
                <td>
                  <%=button_to("Drop Event", {controller: "registrations", id: @team.id, session_id: s.id, role: @role, action: :drop}, class: "button", data: {confirm: "Are you sure?"}) %>
                </td>
              <%end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card w-100 bengal-card mb-3" >
        <div class="card-header">Team Members</div>
        <div class="card-body">
          <table class="table bengal-table">
            <thead class="thead-bengal">
            <tr>
              <th scope="col">Member</th>
              <th scope="col">Position</th>
              <%if policy(@team).change? %>
                <th scope="col">Drop Member</th>
              <%end %>
            </tr>
            </thead>
            <tbody>
            <%@team.users.each do |m| %>
              <tr>
                <td><%=m.first_name + " " + m.last_name%></td>
                <%if m == @team.get_lead %>
                  <td>Team Lead</td>
                <%else %>
                  <td>Member</td>
                <%end %>
                <%if policy(@team).change? %>
                  <%if m == @team.get_lead %>
                    <td>Can't Drop Team Lead</td>
                  <%else %>
                    <td><%=button_to("Drop",  {method: :post, controller: "groupings", action: :drop, part_id: m.id, id: @team.id}, class: "button", data: {confirm: "Are you sure?"})%></td>
                  <%end %>
                <%end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>


      <div class="card w-100 border-dark mb-3" >
        <div class="card-header ">Actions</div>
        <div class="card-body">
          <%if policy(@team).change? %>
            <p>Invite members to join your team.</p>
            <p><%=link_to "Invite Members", ({controller: "teams", action: "invite", id: @team.id}), class: "button" %></p>
            <%if @team.users.count > 1 %>
              <p>You can register for events as a team. Every member will participate in the event.</p>
              <p><%=link_to "Register For Events", ({controller: "events", action: "index", role: "Team", id: @team.id}), class: "button"%></p>
            <%else %>

              <p>You have to have at least two members to register for an event as a team.</p>
            <%end %>
            <%else %>
              <p>Your team lead will register the team for events. Talk to them to agree on what events you want to take.</p>
              <p><%=button_to("Leave This Team",  {method: :post, controller: "groupings", action: :drop, part_id: current_user.id, id: @team.id}, class: "btn btn-info", data: {confirm: "Are you sure?"}) %></p>
          <%end %>
          <p>You can print your team schedule here.</p>
          <button class="btn button">
            <span class="glyphicon glyphicon-print" aria-hidden="true"> </span><%= link_to "  Print", {controller: "teams", action: "teamschedulepdf", part_id: @team.id}, target: :_blank %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




