<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= form_for(@occasion) do |f| %>
  <div class="row">
    <div class="column"> <p> <%= f.label :name %> </p>
    </div>
    <div class="column">  <%= f.text_field :name %>
    </div>
  </div>

   <div class="row">
     <div class="column"> <%= f.label :start_date %>
     </div>
     <div class="column"> <%= f.text_field :start_date %>
     </div>
   </div>

  <div class="row">
    <div class="column"> <%= f.label :end_date %>
    </div>
    <div class="column"> <%= f.text_field :end_date %>
    </div>
  </div>
  <%= f.submit "Create", class: "button" %>
<% end %>