<% if @occasion.errors.any? %>
  <div id="error_explanation">
    <h2>Please fix <%= pluralize(@occasion.errors.count, "error") %> to proceed. </h2>
    <ul>
      <% @occasion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="card border-dark mb-3">
    <div class="card-header dark-header "><h1>Occasion Information</h1></div>
    <div class="card-body text-dark bengal-body">
      <div class="container">
          <%= form_for @occasion, :html => {:class => "form-horizontal center"} do |f| %>
            <div class="form-group">
              <%= f.label :name, "Occasion Name:", class: "col-md-4 control-label" %>
              <div class="col-xs-2">
                <%= f.text_field :name, placeholder: "Occasion Name", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :description, "Description:", class: "col-md-4 control-label" %>
              <div class="col-xs-3">
                <%= f.text_area :description, placeholder: "Detailed Description", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :start_date, "Start Date:", class: "col-md-4 control-label" %>
              <div class="col-xs-3">
                <%= f.date_select :start_date, placeholder: "Start Date", class: "control-label" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :end_date, "End Date:", class: "col-md-4 control-label" %>
              <div class="col-xs-3">
                <%= f.date_select :end_date, placeholder: "End Date", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 control-label">
                <%= f.submit "Create", class: "btn btn-default btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>










