<% content_for :title, "Occasions" %>
<h1>Occasions</h1>
<h2> List of Occcasions</h2>
<div class="container">
  <div class="row">
    <% @occasions.each do |occasion| %>
      <div class="col-sm-9">
        <div class="card border-dark" style="max-width: 25%;">
          <div class="card-header">
            <h4> <%= occasion.name %>  </h4>
            <span>Created By: <%= occasion.coordinator.user.email %></span>
          </div>
          <div class="card-body text-dark">
            <p class="card-text">Name: <%= occasion.name %></p>
            <p class="card-text">Description: <%= occasion.description %></p>
            <p class="card-text">Start Date: <%= occasion.start_date.strftime("%Y-%m-%d") %></p>
            <p class="card-text">End Date: <%= occasion.end_date.strftime("%Y-%m-%d") %></p>
            <p>
              <% if policy(occasion).edit? %>
                <%= link_to "Edit", edit_occasion_path(occasion.id), class: "btn btn-secondary" %>
              <% end %>
              <% if policy(occasion).destroy? %>
                <%= link_to "Delete", occasion_path(occasion.id), class: "btn btn-danger", data: {method: :delete, confirm: "Are you sure?"} %>
              <% end %></p>
            <hr>
            <div class="card-text">
              <%= link_to "Choose", occasion_path(occasion.id), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if policy(@occasions).create? %>
      <div class="col-sm-3">
        <div class="card border-dark" style="max-width: 18rem;">
          <div class="card-header">Actions</div>
          <div class="card-body text-dark">
            <p>To create a new Occasion: </p>
            <%= link_to "Click Here", new_occasion_path, class: "btn-btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


