<% content_for :title, "Occasions" %>
<%# if signed_in? %>
<h1>Occasions</h1>

<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Actions</td>
    <td>Created By</td>
  </tr>
  </thead>
  <tbody>
  <% @occasions.each do |occasion| %>
    <tr>
      <td><%= occasion.name %></td>
      <td><%= occasion.start_date %></td>
      <td><%= occasion.end_date %></td>
      <td>
        <%= link_to "Show", occasion_path(occasion.id) %>
        <% if policy(occasion).edit? %>
          <%= link_to "Edit", edit_occasion_path(occasion.id) %>
        <% end %>
        <% if policy(occasion).destroy? %>
          <%= link_to "Delete", occasion_path(occasion.id), data: {method: :delete, confirm: "Are you sure?"} %>
        <% end %>
      </td>
      <td><%= occasion.coordinator.user.email %></td>
      <%# end %>
    </tr>
  <% end %>
  </tbody>
</table>
<!--Event creation leading to another page-->
<% if policy(@occasions).create? %>
  <%= link_to "Create New Occasion", new_occasion_path %>
<% end %>

<% if current_user.meta.is_a? Sponsor %>
  <%= link_to "Home Page", sponsor_path(@sponsor) %>
<% end %>