<%content_for(:title,"#{@occasion.name}")  %>
<h1>Listing in the <%=@occasion.name %> Occasion</h1>

<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Start Date</td>
    <td>End Date</td>
  </tr>
  </thead>
<tbody>
<tr>
  <td><%=@occasion.name %> </td>
  <td><%=@occasion.start_date %></td>
  <td><%=@occasion.end_date %></td>
</tr>
</tbody>
</table>
<br>

<%= render @occasion.events %>
<h2>Create an Event under this Occasion</h2>
<%=render  partial: "events/form" %>
<%=link_to "Home Page", occasions_path %>
