<% content_for(:title, "#{@occasion.name}") %>
<h1> <%= @occasion.name %> </h1>


<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @occasion.name %> </td>
    <td><%= @occasion.start_date %></td>
    <td><%= @occasion.end_date %></td>
  </tr>
  </tbody>
</table>
<br>
<h2>These are the lists of events under this occasion.</h2>
<%= render @occasion.events %>
<p><%= link_to "Create an Event", new_occasion_event_path(@occasion,@event) %></p>
<p><%= link_to "Home Page", occasions_path %></p>
