<% content_for(:title, "#{@occasion.name}") %>
<div class="container">
  <div class="row">
    <div class="col-sm">

        <h1> <%= @occasion.name %> </h1>

        <div class="alert alert-success" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close"> &#88; </a>
          <h4 class="alert-heading">What is this?</h4>
          <p>- Click on the Location Name to view more Details.</p>
        </div>

        <%= render @occasion.locations %>
        <br>
        <% if policy(@location).new? %>
          <%= link_to "Add Location", new_occasion_location_path(@occasion, @location), class: "btn btn-primary" %>
        <% end %>
        <hr>

      <!-- Start of event Partial-->
      <h2>Events</h2>
      <div class="alert alert-success" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"> &#88; </a>
        <h4 class="alert-heading">What is this?</h4>
        <p> - These are the list of events created under this occasion.</p>
      </div>

      <% if @occasion.events.present? %>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Make Ahead</th>
            <th scope="col">Location</th>
            <th scope="col">Actions</th>
            <th scope="col">Created By</th>
          </tr>
          </thead>
          <%= render @occasion.events %>
        </table>
      <% end %>
      <!--      End of event Partial-->
      <p>
        <%= link_to "Create an event", new_occasion_event_path(@occasion, @event), class: "btn btn-primary" %>
      </p>
      <p>
        <%= link_to "Home Page", occasions_path, class: "btn btn-outline-success" %>
      </p>
    </div>

    <div class="col-sm-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Occasion's Information</div>
        <div class="card-body text-dark">
          <p class="card-text">Occasion Name: <%= @occasion.name %></p>
          <p class="card-text">Start Time: <%= @occasion.start_date.strftime("%Y-%m-%d") %></p>
          <p class="card-text">End Time: <%= @occasion.end_date.strftime("%Y-%m-%d") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

