<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Description</th>
    <th>Make ahead</th>
    <th>Actions</th>
    <th>Created By</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.location %></td>
    <td><%= event.description %></td>
    <td><%= event.isMakeAhead %></td>
    <td>
      <% if policy(event).destroy? %>
        <%= link_to "Delete", occasion_event_path(@occasion, event), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
      <% if policy(event).edit? %>
        <%= link_to "Edit", edit_occasion_event_path(@occasion, event) %>
      <% end %>
      <%= link_to "Details", occasion_event_path(@occasion, event) %>
    </td>
    <td><%= event.sponsor.user.email %></td>
  </tr>
  </tbody>
</table>

