<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2> Time Slots for <%= @event.name %> event</h2>
      <br>
      <div class="row">
        <%= render @event.event_details %>
      </div>

      <p><%= link_to "Go Back", occasion_path(@occasion), class: "btn btn-primary" %></p>
    </div>

    <div class="col-sm-3">
      <div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Event's Information</div>
          <div class="card-body text-dark">
            <p class="card-text">Event Name: <%= @event.name %></p>
            <p class="card-text">Description: <%= @event.description %></p>
            <p class="card-text">Make Ahead: <%= @event.isMakeAhead %></p>
          </div>
        </div>
      </div>


      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Actions</div>
        <div class="card-body text-dark">
          <p>Create new time slot as need for the events.</p>
          <p><%= link_to "Create Time slots", new_occasion_event_event_detail_path(@occasion, @event, @event_detail), class: "btn btn-primary" %></p>
          <p>Additional Links</p>
        </div>
      </div>
    </div>
  </div>
</div>
