<h1>Event Info</h1>


<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Location</td>
    <td>Description</td>
    <td>Make ahead</td>
    <td>Capacity</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @event.name %></td>
    <td><%= @event.location %></td>
    <td><%= @event.description %></td>
    <td><%= @event.isMakeAhead %></td>
  </tr>
  </tbody>
</table>

<%= render @event.event_details %>
<p><%= link_to "Create Time slots", new_event_event_detail_path(@event,@event_detail) %></p>



