<table>
  <thead>
  <tr>
    <td>Capacity</td>
    <td>Start time</td>
    <td>End Time</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= event_detail.capacity %></td>
    <td><%= event_detail.start_time %></td>
    <td><%= event_detail.end_time %></td>
    <td><%= link_to "Delete ", event_event_detail_path(@event, event_detail), method: :delete, data: {confirm: "Are you sure?"} %></td>
    <td><%= link_to "Edit ", edit_event_event_detail_path(@event, event_detail) %></td>

  </tr>
  </tbody>
</table>

