<table>
  <thead>
  <tr>
    <th>Capacity</th>
    <th>Start time</th>
    <th>End Time</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= event_detail.capacity %></td>
    <td><%= event_detail.start_time %></td>
    <td><%= event_detail.end_time %></td>
    <td><%= link_to "Delete ", occasion_event_event_detail_path(@occasion, @event, event_detail), method: :delete, data: {confirm: "Are you sure?"} %></td>
    <td><%= link_to "Edit ", edit_occasion_event_event_detail_path(@occasion,@event, event_detail) %></td>
  </tr>
  </tbody>
</table>

