
<div>

  <h1>School Information Input</h1>
  <table class ="table">
    <%= form_tag("save_settings") do %>
      <tr>
        <td>Select your school's primary color:</td>
        <td><%= text_field_tag "primary_color" %></td>
      </tr>
      <tr>
        <td>Select your schools secondary color:</td>
        <td><%= text_field_tag "secondary_color" %></td>
      </tr>
      <tr>
        <td>Select your site name:</td>
        <td><%= text_field_tag "site-name" %></td>
      </tr>
      <tr>
        <td>Import your logo</td>
        <td><%= file_field_tag "logo" %></td>
      </tr>
      <tr>
        <td><%= Setting.first != nil ? link_to("Reset Default", default_settings_path, class: "button-small solid-element", data: {confirm: "Are you sure?"}): "" %></td>
        <td><%= submit_tag "Save and Continue", class: "button-small solid-element" %></td>
        <td><img id="logo-image" src="#"/></td>
      </tr>
    <% end %>
  </table>
</div>