<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <div class="alert alert-danger">
      <%=e %>
    </div>
  <% end %>
<% end %>
<div>

    <h1>School Information Input</h1>
    <table class ="table">
    <%= form_tag("save_settings") do %>
      <tr>
        <td>Select your school's primary color:</td>
        <td><%= text_field_tag "primary-colors" %></td>
      </tr>
      <tr>
        <td>Select your schools secondary color:</td>
        <td><%= text_field_tag "secondary-colors" %></td>
      </tr>
        <tr>
          <td>Select your site name:</td>
          <td><%= text_field_tag "site-name" %></td>
        </tr>
        <tr>
          <td>Import your logo</td>
          <td><%= file_field_tag "logo" %></td>
        </tr>
        <tr>
          <td><%= submit_tag "Save and Continue", class: "button-small" %></td>
          <td><img id="logo-image" src="#"/></td>
        </tr>

<% end %>
  </table>
</div>