

<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Enter Student Names and Emails</div>
      </div>

      <div style="padding-top:30px" class="panel-body">
        <%= form_tag({controller: "students", action: "update_new_students"}, {id: "student-form"}) do %>
          <%studentCount = 0%>
          <%for student in (@students.empty? ? 0..0 : @students) do %>
            <%studentCount += 1 %>
            <div class="row" >
              <div class="col-lg-4">
                <div class="input-group bottom-indent">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <%=text_field_tag "name_" + studentCount.to_s, @students.empty? ? nil : student.name, placeholder: @students.empty? ? "Student Name" : nil %>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="input-group bottom-indent">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <%=text_field_tag "email_" + studentCount.to_s, @students.empty? ? nil : student.user.email, placeholder: @students.empty? ? "Student Email" : nil%>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="input-group bottom-indent">
                  <button class="button-small glyphicon glyphicon-minus" type="button" title="Remove Student"></button>
                  <%if (@students.last == student || @students.empty?) %>
                    <button class="button-small left-indent glyphicon glyphicon-plus" type="button" onclick="addNewStudent()" title="Add New Student"></button>
                  <%end %>
                </div>
              </div>
            </div>
          <%end %>
          <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
              <%=submit_tag "Submit Changes", class: "button" %>
            </div>
          </div>
        <%end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:title, "New Students") %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%# if @student.errors.any? %>
<!--  <div id="error_explanation">-->
<!--    <h2><%#= pluralize(@student.errors.count, "error") %> prohibited this post from being saved:</h2>-->
<!--    <ul>-->
      <%# @student.errors.full_messages.each do |msg| %>
<!--        <li><%#= msg %></li>-->
      <%# end %>
<!--    </ul>-->
<!--  </div>-->
<%# end %>
