<h1>Add students here</h1>
<%= form_for [@student] do |f| %>
  <div class="field">
    <%=f.label :name, "Student Name" %>
    <%=f.text_field(:name )%>
  </div>
  <%=f.fields_for :user do |u| %>
    <div class="field">
      <%=u.label :email %>
      <%=u.email_field :email %>
    </div>
  <%end %>
  <div class="actions"><%=submit_tag "Add Student", class: "button" %></div>
<% end %>
<%= link_to "Return Home", @teacher %>

<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <% @teacher.students.each do |s| %>
    <tr>
      <td><%=s.name %></td>
      <td><%=s.user.email %></td>
    </tr>
  <% end %>
</table>