<h1>Enter student emails to register students</h1>

<div id="student_emails">
  <%= form_tag controller: "students", action: "create" do %>
    <%for student in 1..@teacher.student_count do %>
      <div class="field">
      <%=label_tag "Student Name" %>
      <%=text_field_tag "name" +student.to_s  %>
      </div>
      <div class="field">
        <%=label_tag "Email" %>
        <%=text_field_tag "email" + student.to_s  %>
      </div>

    <%end %>
    <div class="actions"><%=submit_tag "Add Student", class: "button" %></div>
  <% end %>
</div>


<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
