<h1>Welcome, <%= @student.name %>!</h1>
<p>Teacher: <%= @student.teacher.name %></p>
<p>School: <%= @student.teacher.school %></p>

<div>
<%= link_to "Register for Events", controller: "registrations", action: "index", part_id: @student.participant.id %>
</div>
<%= link_to "Create Team", new_team_path%>

<h2>Registration Details</h2>
<% if Registration.exists?(@student.participant.id)%>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

  </thead>
  <% @student.participant.event_details.each do |s| %>
    <tr>
      <td><%=Event.find(s.event_id).name %></td>
      <td><%=Event.find(s.event_id).description %></td>
      <td><%=Event.find(s.event_id).location.name %></td>
      <td><%=s.start_time %></td>
    </tr>
  <% end %>
</table>
  <% else %>
  <p>You haven't registered for anything yet!</p>
  <% end %>

<% if Grouping.exists?(@student.participant.id) %>
<h2>My Teams</h2>
<table>
  <thead>
    <tr>
      <th>Team Name</th>
    </tr>
  </thead>
  <tbody>
    <%unless @student.teams.count == 0 %>
      <%@student.teams.each do |t| %>
        <tr>
          <td><%=link_to t.name, controller: "teams", action: "show", id: t.id %></td>
        </tr>
      <%end %>
    <%end %>
  </tbody>
</table>
<% end %>