<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Registration Details</h3>
      <% if current_user.sessions.count > 0 %>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Start Time</th>
            <th scope="col">Modify</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% current_user.sessions.each do |s| %>
            <tr>
              <th scope="row"><%= s.activity.name %></th>
<!--              <td><%#= s.activity.location.name %></td>-->
              <td><%= s.start_time.strftime("%l:%M %p") %> - <%= s.end_time.strftime("%l:%M %p") %></td>
              <td>
                <%= button_to("Drop", {method: :post, controller: "registrations",
                                       action: :drop, part_id: current_user.id, id: s.id}, class: "button", title: "Unregister for event",
                              data: {confirm: "Are you sure?"}) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="col-sm-3">
      <div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Your Teacher's Information</div>
          <div class="card-body text-dark">
<!--            <p class="card-text">Teacher: <%#= current_user.teacher.name %></p>-->
<!--            <p class="card-text">School Name: <%#= current_user.teacher.school %></p>-->
          </div>
        </div>
      </div>


      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Actions</div>
        <div class="card-body text-dark">
          <div class="indent-bellow">
          <button class="btn button-small" title="Build a team">
            <span class="fa fa-users"> </span><%= link_to " Create Team", new_team_path %>
          </button>
          </div>
          <div class="indent-bellow">
          <button class="btn button-small" title="Register For Events">
            <span class="fa fa-edit"></span>
            <%= link_to "Register For Events", controller: "registrations", action: "index", part_id: current_user.id %>
          </button>
          </div>
          <button class="btn button-small" title="Print My Schedule">
            <span class="glyphicon glyphicon-print" aria-hidden="true"> </span><%= link_to "  Print", {controller: "students", action: "print_schedule", id: current_user.id}, target: :_blank %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="team-bar"><h2>My Teams</h2></div>
  <div class="row"></div>
  <% unless current_user.teams.count == 0 %>
    <% for t in 1..@teams %>
      <div class="row">
        <% for i in 0..2 %>
          <% if current_user.teams[@count] != nil %>
            <div class="col-sm-4">
              <a href=<%= team_path(current_user.teams[@count]) %>>
                <div class="card-w-100 text-white <%= @random_card[Random.rand(4)] %> mb-3 link-card">
                  <div class="card-header">Team <%= current_user.teams[@count].team_name %></div>
                  <div class="card-body">
                    <p>This team has registered
<!--                      for <%#= @student.teams[@count].participant.event_details.count %> <%#= @student.teams[@count].participant.event_details.count == 1 ? "event." : "events." %></p>-->
                  </div>
                </div>
              </a>
            </div>
            <% @count += 1 %>
          <% else %>
            <% break %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>



