
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Registration Details</h3>
      <% if @student.participant.event_details.count > 0 %>
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Modify</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <% @student.participant.event_details.each do |s| %>
            <tr>
              <th scope="row"><%= Event.find(s.event_id).name %></th>
              <td><%= Event.find(s.event_id).description %></td>
              <td><%= Event.find(s.event_id).location.name %></td>
              <td><%= s.start_time.strftime("%F %H:%M %p") %></td>
              <td><%= s.end_time.strftime("%F %H:%M %p") %></td>
              <td>
                  <%= button_to("Drop", {method: :post, controller: "registrations",
                                         action: :drop, part_id: @student.participant.id, id: s.id}, class: "button",
                                data: {confirm: "Are you sure?"}) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="col-sm-3">
      <div>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Your Teacher's Information</div>
          <div class="card-body text-dark">
            <p class="card-text">Teacher: <%= @student.teacher.name %></p>
            <p class="card-text">School Name: <%= @student.teacher.school %></p>
          </div>
        </div>
      </div>


      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Actions</div>
        <div class="card-body text-dark">
          <p>Register for events to be able to participate in them.</p>
          <p class="card-text"><%=link_to "Register For Events", controller: "registrations", action: "index", part_id: @student.participant.id %></p>
          <p>Create a team so that you and your team members can register for events and participate as a group.</p>
          <p class="card-text"><%= link_to "Create Team", new_team_path %></p>
          <p>You can print your registrations here.</p>
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-print" aria-hidden="true"> </span><%= link_to "  Print", {controller: "students", action: "print_schedule", part_id: @student.id}, target: :_blank %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="team-bar"><h2>My Teams</h2></div>
    <div class="row"></div>
    <% unless @student.teams.count == 0 %>
      <%for t in 1..@teams %>
        <div class="row">
          <%for i in 0..2 %>
            <%if @student.teams[@count] != nil %>
              <div class="col-sm-4">
                <a href=<%=team_path(@student.teams[@count]) %> >
                  <div class="card-w-100 text-white <%=@random_card[Random.rand(4)] %> mb-3 link-card"  >
                   <div class="card-header">Team <%=@student.teams[@count].name %></div>
                   <div class="card-body">
                    <p>This team has registered for <%=@student.teams[@count].participant.event_details.count%> <%= @student.teams[@count].participant.event_details.count == 1 ? "event." : "events."%></p>
                    </div>
                  </div>
                </a>
              </div>
              <%@count += 1 %>
            <%else %>
              <%break %>
            <%end %>
         <%end %>
        </div>
      <%end %>
    <%end %>
</div>


