<% content_for(:title, "Create Occasion") %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <div class="alert alert-danger">
      <%= e %>
    </div>
  <% end %>
<% end %>


<div class="container">
  <div class="card border-dark">
    <div class="primary-color event-header">
      <div class="row">
        <div class="col-lg-6">
          <h1>Activity Information</h1>
        </div>
        <div class="col-lg-4">
          <h1>Activity Sessions</h1>
        </div>
      </div>
    </div>
    <div class="card-body bengal-body">
      <%= form_tag(@action, id: "activity-form") do %>
        <%= hidden_field_tag "max_team_tag_1", value = 4 %>
        <%= hidden_field_tag "activity_id", @edit ? value = @activity.id : value = nil %>
        <%= hidden_field_tag "activity", value = @action %>
        <%=hidden_field_tag("sessions_count", @sessions.empty? ? 1 : Session.last.id) %>
        <div class="row">
          <div class="col-lg-4 border-right">
            <div class="form-group">
              <%= label_tag "Activity Name", nil, class: "control-label" %>
              <%= text_field_tag "name_New_1", @edit ? value = @activity.name : value = nil, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag "Activity Description", nil, class: "control-label" %>
              <%= text_field_tag "description_1", @edit ? value = @activity.description : value = nil, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= check_box_tag "ismakeahead_1", true, @edit ? checked = @activity.ismakeahead : checked = false %>
              <%= label_tag "Is make ahead", nil, class: "control-label" %>
            </div>
            <div class="form-group">
              <%= check_box_tag "iscompetetion_1", true, @edit ? checked = @activity.iscompetetion : checked = false, class: "competetion" %>
              <%= label_tag "Is competition", nil, class: "control-label" %>
            </div>
            <div clas="form-group">
              <%= check_box_tag "repeats_1", true, @edit ? checked = @activity.identifier : checked = false, class: "repeat" %>
              <%= label_tag "Repeat", nil, class: "control-label" %>
              <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Check the checkbox if this activity is a repeat of a previous activity."></span>
            </div>
            <div hidden="true" class="form-group">
              <%= label_tag "Choose Repeat Activity", nil, class: "control-label"%>
              <select class="form-control" id="repeat_activity_1" name="repeat_activity_1">
                <%@activities.each do |a| %>
                <option><%=a.name%></option>
                <%end %>
              </select>
            </div>
            <div class="form-group">
              <%= label_tag "Choose Location of Activity", nil, class: "control-label" %>
              <select class="form-control locationselect" id="locationselect" name="location_select_1">
              </select>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-2">
                <%= label_tag "Start Time" %>
              </div>
              <div class="col-lg-2">
                <%= label_tag "End Time" %>
              </div>
              <div class="col-lg-3">
                <%= label_tag "Room" %>
              </div>
              <div class="col-lg-2">
                <%= label_tag "Capacity" %>
              </div>
              <div class="col-lg-3 form-group">
                <%= check_box_tag "same_room", value = true, false, title: "Use the same room for all sessions" %>
                <%= label_tag "Same Room", nil, class: "control-label" %>
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Check the checkbox to use the same room for all sessions. Create all sessions and choose the room in the first session before checking the checkbox."></span>
              </div>
            </div>

            <%@index = 0 %>
            <% for s in (@sessions.empty? ? 0..0 : @sessions) %>
              <%@index += 1 %>
              <div class="row top-indent">
                <div class="col-lg-2">
                  <%= text_field_tag((@sessions.first == s) || @sessions.empty? ? (@sessions.empty? ? "start_time_New_" + @index.to_s : "start_time_New_" + s.id.to_s) : "start_time_" + s.id.to_s, @edit ? value = s.start_time.strftime("%l:%M %p") : value = nil, class: "control-label form-control start_time")%>
                </div>
                <div class="col-lg-2">
                  <%= text_field_tag @sessions.empty? ? "end_time_" + @index.to_s : "end_time_" + s.id.to_s, @edit ? value = s.end_time.strftime("%l:%M %p") : value = nil, class: "control-label form-control end_time" %>
                </div>
                <div class="col-lg-3">
                  <%=select_tag (@sessions.empty? ? "room_select_" + @index.to_s : "room_select_" + s.id.to_s), nil, class: "form-control roomselect", title: "Choose Room that Session will be hosted at" %>
                </div>
                <div class="col-lg-2">
                  <%= text_field_tag @sessions.empty? ? "capacity_" + @index.to_s : "capacity_" + s.id.to_s, @edit ? value = s.capacity : value = nil, class: "control-label form-control" %>
                </div>
                <% if s == @sessions.last || @sessions.empty? %>
                  <div class="col-lg-3">
                    <button class="button-small solid-element left-indent glyphicon glyphicon-minus" title="Remove Session" type="button"></button>
                    <button class="button-small solid-element left-indent glyphicon glyphicon-plus new-session" title="Add New Session" type="button"></button>
                  </div>
                <% else %>
                  <div class="col-lg-3">
                    <button class="button-small solid-element left-indent glyphicon glyphicon-minus" title="Remove Session" type="button"></button>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1">
            <%= submit_tag "Confirm", class: "solid-element button-small" %>
          </div>
          <div class="col-lg-1">
            <button class="solid-element button-small glyphicon glyphicon-plus new-activity" title="Add New Activity" type="button"></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

